<a id="home"></a>

<header>
    
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>    

    <nav>
        <ul>
            <li><a href="#home">Prototype</a></li>
            <li><a href="#story">Story</a></li>
            <li><a href="#residents">Residents</a></li>
            <li><a href="#location">Location</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

</header>

<section class="splash">

    <div class="logo"></div>
    <div class="grab"></div>

</section>

<section class="intro">
    <h1>Prototype is a members-only coffee bar for hackers, designers, troublemakers and other disrupters.</h1>

    <div class="place"></div>

</section>

<section class="story">
    <a id="story"></a>

    <h1>Story</h1>

    <p>Prototype became reality when <a href="https://twitter.com/boetter">Jacob</a>'s coffee place in Vesterbro had to close down. The owner asked <a href="https://twitter.com/boetter">Jacob</a> if he wanted to take over, and within a few hours, we were a handful of people who co-founded Prototype.</p>
    <br />
    <p>We run Prototype as our own casual coffee bar, where we can hack, build and execute upon our ideas and projects. Prototype isn't a public place, and is only open when one of us are around, but we <strong>do</strong> host events, meetups and other social events, so keep an eye on our <a href="https://www.facebook.com/prototypehq">Facebook page</a>.</p>

</section>

<section class="residents">
    <a id="residents"></a>
    
    <h1>Residents</h1>

    <ul>
    <% residents.forEach(function(resident) { %>
        <li>    
            <div>
                <%- resident.url ? '<a href="' + resident.url + '">' : '' %>
                    <img src="<%= resident.avatar %>" />
                    <span>
                        <h3><%= resident.name %></h3>
                        <p><%= resident.description %></p>
                    </span>
                <%- resident.url ? '</a>' : '' %>
            </div>
        </li>
    <% }) %>    
    </ul>

</section>

<section class="location">
    <a id="location"></a>

    <h1>Location</h1>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2250.295121997658!2d12.545926999999997!3d55.666467999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652539dea55cc79%3A0x1bc6c910afbbc8aa!2sPrototype!5e0!3m2!1sen!2sth!4v1425018584686" width="100%" height="500" frameborder="0" style="border:0"></iframe>
    </div>

</section>

<section class="contact">
    <a id="contact"></a>

    <h1>Contact</h1>

    <p>Interesting in Prototype? Feel free to contact one of the members, or get in touch with <a href="mailto:jacob@boetter.dk">Jacob Bøtter.</a> or <a href="mailto:kenneth@auchenberg.dk">Kenneth Auchenberg.</a></p>

</section>


<!-- <object class="webcam">
    <param name="movie" value="https://www.dropcam.com/e/30ba9a9497ef47d9b240dd75be120d72?autoplay=true"></param>
    <param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
    <param name="wmode" value="opaque"></param>
    <param name="bgcolor" value="#ffffff"></param>

    <embed src="https://www.dropcam.com/e/30ba9a9497ef47d9b240dd75be120d72?autoplay=true" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque"></embed>
</object>
 -->


